*{
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    margin:0;
}

html{
    width: 100%;
    padding: 1rem;
}

ul{
    list-style-type: none !important;
}

 a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex; 
    flex-direction: column;
}

header, header nav, header nav ul{
    display: flex;
    align-items: center;
}

header{
    justify-content: space-evenly;
    padding-bottom: 3.5rem;
    font-size: 1rem;
}

header nav ul li{
    padding: 0.5rem;  
    margin-right: 1rem;
}

header nav ul li:hover{
    cursor: pointer;
}

header nav ul li a{
    position: relative;
    padding-bottom: 8px;
    
}

header nav ul li a::before {
    content: ''; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 0%; 
    height: 2px; 
    background-color: #d79447; 
    transition: 0.3s ease-in-out; 
}

header nav ul li a:hover::before {
    width: 50%; 
    cursor: pointer;
}

header img{
    max-width: 8rem;
}

main section{
    padding: 0.5rem;
}
main section#presentation{
    display: flex;
    justify-content: space-around;
}


main section#presentation img{
    width: 14rem;
    object-fit: contain;
}

main section#presentation div{
    margin-top: 3rem;
}

main section#presentation div p{  
    max-width: 59ch;
    font-size: 0.8rem;
}
main section#presentation div h6{
    color:  #f9ac54;
}

main section#presentation div h1 {
    font-size: 3rem; 
}


main section#presentation div h1 span{
    color: #1f2125;
    text-shadow:
        1px 1px 0px white,
        -1px -1px 0px white,
        1px -1px 0px white,
        -1px 1px 0px white; 
}

main section#presentation button
{
    margin-top: 1.5rem;
}


main section#program > div:first-child{
    display: flex;
    justify-content: space-between;
}

main section#program > div:first-child h1{
   flex: 1;
}

main section#program > div:nth-of-type(2){

}


.btn-primary{
    padding: 0.8rem;
    border-radius: 0.5rem;
    background-color: #f9ac54;
    border: none;
    width: 7rem;
}

.btn-primary:hover{
    background-color: #d79447;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}




