body {
	font-family: 'Poppins', sans-serif; /* Define o tipo da fonte */
	max-width: 1280px;  /* Define o tamaho maximo de largura e se adapta a largura. */
	margin: 0 auto;
}

main:after {
	content: '';
	min-height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background: linear-gradient(90deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.05926120448179273) 50%, rgba(0, 0, 0, 1) 90%);
	z-index: -1;
}

.conteudo { /* Estudar Flex!!!!! */
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* vh = viewport height */
	justify-content: space-evenly;
}

.informacoes .logo {
	max-width: 350px;
	filter: invert(1); /* Inverter a cor */
	margin-bottom: 80px; /* espaçamento de 80px na margem debaixo do logo. */
}

.informacoes .descricao {
	width: 49%; /* Porcentagem relativa ao pai(informações) */
	font-size: 24px;
	color: #ffffff;
	line-height: 30px; /* Porcentagem relativa ao pai(informações) */

}

.botoes-carrossel {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.botoes-carrossel .botao {
	background-color: #ffffff;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 2px solid transparent;
	cursor: pointer;
	border-color: #ffffff;
}

.botoes-carrossel .botao.selecionado {
	background-color: #1d8346;
}

.menu-lateral {
	position: fixed; /* Posição fixa */
	top: 0; /* 0 de pixels pra cima entao fica no canto superior direito, fixo. */
	right: 0; /* 0 de pixels pra direita */
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.menu-lateral ul {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.menu-lateral .icone {
	width: 30px;
	filter: invert(1);
	transition: 0.3s ease-in-out; /* Animação que dura 3s para fazer e 3s para voltar ao estado normal. */
}

.menu-lateral .icone:hover {
/* Função acionada quando o mouse passa em cima. */

	transform: scale(1.2); /* Transforma o icone para essa escala */
}

.carrossel {
	position: fixed;/* Coloca todas as imagens do carrosel fixas */
	top: 0; /* Não coloca right 0 para não esconder a barra lateral, mas define os outros para não haver espaçamento. */
	left: 0;
	width: 100%; /* coloca largura em 100% */
	z-index: -1; /* Deixa a imagem ser sobrescrita por outros elementos(-1). 1 deixaria por cima. */
}

.carrossel .imagem {
	width: 100%;
	height: 100vh;
	object-fit: cover;
	display: none; /* Esconde as imagens em um primeiro momento. Só irá mostrar quando estiver selecionada por isso precisa criar uma classe "imagem selecionada" e fazer essa classe passar para as outras imagens e faze-las aparecerem quando  o botão é precionado(JavaScript)*/
	animation: mudarImagem 0.7s;
}

.carrossel .imagem.ativa {
	display: block;
}

@keyframes mudarImagem {
	from {
		opacity: 0.85;
	}
	to {
		opacity: 1;
	}
}
